name: FlutterTests

on:
  push:
    branches: [development]
  pull_request:
    branches: [development]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Install and set Flutter version
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '2.15.1'
          
      - name: Restore packages
        run: flutter pub get


      - name: Analyze
        run: flutter analyze

      - name: Run tests
        run: flutter test --coverage
